<div class= "col-xs-10 col-xs-offset-1 about">
	<h1> About Anime-Splurty </h1>
	<p>
		Anime-Splurty was built by Cameron Harris, web developer and lover of anime. Please add more anime quotes!

	</p>
	<br />
	<br />
</div>

<div class= "col-xs-12 col-sm-4">
	<%= image_tag 'obama.gif', :class => 'img-responsive' %>
</div>

<div class="col-xw-12 col-sm-7 col-sm-offset-1">
	<h2 class= "text-center"> Cameron Harris </h2>
	<br />
	<p>
		Cameron is  a new web developer. He enjoys video games, fantasy novels, and a clean line of code. 
	</p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

